{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<form method="post" action=".">
    {% csrf_token %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 panel panel-group">
            {% for field in form %}
                <p>
                    <div class="{% if field.errors|length > 0 %}has-error{% endif %}">{{ field }}</div>
                    {% for error in field.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                    {% endfor %}
                </p>
            {% endfor %}
            <p><input type="submit" value="Submit" class="btn btn-success"/></p>
        </div>
    </div>
</form>
{% endblock %}