{% extends base_template %}

{% load staticfiles %}

{% block breadcrumb %}
    {{ block.super }}
    <li><i class="glyphicon glyphicon-menu-right"></i><a href=".">{{ product.name }}</a></li>
{% endblock%}

{% block content %}
    <h2>{{ product.name }}</h2>
    <div class="row">
        <div class="col-md-7" data-wow-delay="0.2s">
            {% include 'details/carousel.html' %}
        </div>
        <div class="col-md-4">
            <p><strong>{{ product.price_usd }} <span>$</span></strong></p>
            <p>{{ product.desc }}</p>
            <p>
            {% if user.is_authenticated %}
                <button class="btn btn-sm {% if fav %} btn-warning {% else %} btn-secondary {% endif %} favorite-button" type="button" data-id="{{ product.id }}">
                    <i class="fa fa-star fa-2x"></i>
                </button>
            {% endif %}
            <button data-toggle="tooltip" class="btn btn-sm {% if like %} btn-danger {% else %} btn-secondary {% endif %} like-button" type="button" data-id="{{ product.id }}">
                <i class="fa fa-heart fa-2x"></i>  <small>{% if likes > 0 %}{{ likes }}{% endif %}</small>
                </button>
            </p>
        </div>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" id="imagepreview">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'comment.html' %}
    </div>
{% endblock %}