{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="panel-heading">
    <h3 class="panel-title">{{ product.name }}</h3>
    <p><img src="{{ product.image.url }}" /></p>
</div>
<div class="panel-body">
    <table>
        <tr>
            <th>{{ product.price_usd }}</th>
        </tr>
        <tr>
            <td>{{ product.desc }}</td>
        </tr>
        <div class="row"><img src="{{ product.base_image.url }}"></div>
        {% for image in images %}
            <div class="row"><img src="{{ image.image.url }}"></div>        
        {% endfor %}
        
        
    </table>
</div>
{% endblock %}