{% extends 'base.html' %}
{% block content %}
<form method="post" action=".">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 panel panel-group">
            <p>
                {% render_field form.username class="form-control" placeholder="Username" %}
                {{ form.username.errors }}
            </p>
            <p>
                {% render_field form.password class="form-control" placeholder="Password" %}
                {{ form.password.errors }}
            </p>
            <p>
                <button type="submit" class="btn btn-success">Login</button>
            </p>
        </div>
    </div>
</form>
{% endblock %}