{% load staticfiles %}
{% load i18n %}

<footer class="panel-footer">
    <div class="container text text-left">
        <div class="col-md-4">
            <h4><strong>{% trans 'Pages' %}</strong></h4>
            <hr class="nav-divider" />
            <ul class="list-unstyled">
                <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'insert' %}">{% trans 'Inserts' %}</a></li>
                <li><a href="{% url 'accessory' %}">{% trans 'Accessories' %}</a></li>
                <li><a href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4><strong>{% trans 'Follow Us' %}</strong></h4>
            <hr class="divider" />
                {% for social in social_contact %}
                    <a class="pl-5" href="{{ social.url }}"><img src="{{ social.image.url }}" alt=""></a>
                {% endfor %}

        </div>
        <div class="col-md-4">
            <h4><strong>{% trans 'Contact Us' %}</strong></h4>
            <hr class="divider" />
            <p><a href="mailto:flybletop@gmail.com">flybletop@gmail.com</a></p>
        </div>
    </div>

</footer>
<footer class="dark">
    <div class="container text text-left">
        <div class="col-md-6">
            <p>© FlybleTop {% now 'Y' %}</p>
        </div>
        <div class="col-md-6 text-right blockquote-footer"><small class="text-muted">from the very <i class="fa fa-heart" style="color: #cd2a19;"></i> of Belarus</small></div>
    </div>
</footer>