{% load staticfiles %}
{% load i18n %}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-left">
                <img src="{% static 'images/logo.png' %}" alt="FlybleTop">
            </a>
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav text-center collapse navbar-collapse">
            <li>
                <a href="/" class="active">{% trans 'Home' %}</a>
            </li>
            <li>
                <a href="{% url 'insert' %}">{% trans 'Inserts' %}</a>
            </li>
            <li>
                <a href="{% url 'accessory' %}">{% trans 'Accessories' %}</a>
            </li>
            <li>
                <a href="{% url 'contacts' %}">{% trans 'Contacts' %}</a>
            </li>
        </ul>
        <form action="{% url 'set_language' %}" method="post" id="languageform" >{% csrf_token %}
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse text-center">
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <li class="nav-item pt-5 pl-5">
                {% for language in languages %}
                    {% with 'images/'|add:language.code|add:'.png' as image_static %}
                        </span><span class="pl-5"><a href="#" class="align-right" onclick="languageinput.value = '{{ language.code }}'; languageform.submit();"><img src="{% static image_static %}" alt=""></a></span>
                    {% endwith %}
                {% endfor %}
                </li>
                <input type="hidden" id="languageinput" name="language"/>
            </ul>
        </form>
        <ul class="nav navbar-nav navbar-right text-center collapse navbar-collapse align-middle">
            {% if user.is_authenticated %}
                <li><a href="{% url 'myproducts' %}" class="align-right">{% trans 'My Profile' %}</a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}" class="align-right">{% trans 'Logout' %}</a></li>
            {% else %}
                {% block auth_links %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}" class="align-right">{% trans 'Login' %}</a></li>
                    <li><a href="{% url 'sign_up' %}?next={{ request.path }}" class="align-right">{% trans 'Sign Up' %}</a></li>
                {% endblock %}
            {% endif %}
        </ul>
    </div>
</nav>