<div id="Carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% for it in carousel %}
        <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img src="{{ it.image.url }}" alt="">
            <div class="container">
                <div class="carousel-caption">
                    {% autoescape off %}
                    {{ it.body }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="#Carousel" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#Carousel" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>